# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
/mine-POC/node_modules/
/merkletree-builder/node_modules/
/mine-POC-rust/target/debug/
/mine-POC-rust/target/.rustc_info.json
/mine-POC-rust/target
